body {
  background-color: rgb(40, 1, 77);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.project-card {
  width: 300px;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(24, 0, 10, 0.89);
  border-radius: 4px;
  text-align: center;
  transition: transform 0.2s;
}

.project-card img {
  max-width: 100%;
}

.project-card h2 {
  margin-top: 1rem;
}

.project-card p {
  margin-top: 0.5rem;
}

/* Animation */
.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(5, 0, 5, 0.829);
}
